@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:wght@600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

/*temporary to combat chrome dark theme*/
body {
    background-color: 	#98FB98;
}

header {
    height: 8.625rem;
}

/*Generalized classes*/
.text-align-centre {
    text-align: center;
}

.center-margin {
    margin: 0 auto;
}

.txt-white {
    color: #fff;
}

.line-break-below {
    padding-bottom: 0.875rem;
}

.underline {
    text-decoration: underline;
}

/* Header style rules */
#title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: 'Acme', sans-serif;
    font-size: 1.4375rem;
    justify-content: center;
    padding-top: 0.625rem;
}

.logo {
    height: 4.5rem;
    width: 4.5rem;
}

#menu-btn-wrap {
    display: none;
    padding: 0.3125rem;
}

/* Golden surround to the main game area */
#main-surround {
    background: linear-gradient(to top left, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
    border: 0.1875rem solid #000;
    border-radius: 2.5rem;
    box-sizing: border-box;
    display: flex;
    height: 37.1875rem;
    max-width: 54.6875rem;
    padding: 0.9375rem;
    width: 95vw;
}    

/* Class to set the height of each module the same when it opens */
.main-window {
    background-color: #006400;
    border: 0.1875rem solid #000;
    border-radius: 1.5625rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.5px;
    padding: 0.625rem;
    width: 95vw;
}

/* Menu styling */
.menu-heading {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 3px 0.625rem 2px;
}

.menu-sub-heading {
    padding-bottom: 0.875rem;
}

#responsible-sub-menu, #options-sub-menu, #rules-sub-menu {
    display: none;
    position: relative;
}

/* Rule sub menu style */
/* Accordion style menu on game rules page taken from https://www.w3schools.com/howto/howto_js_accordion.asp */
.rule-heading {
    align-items: center;
    background: linear-gradient(to top left, #fbf5b7, #b38728, #fcf6ba, #bf953f);
    cursor: pointer;
    display: flex;
    font-family: 'Acme', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    justify-content: space-between;
    outline: none;
    padding: 1px 0.4375rem;
    width: 100%;
    text-align: left;
    transition: 0.4s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .rule-heading:hover {
    background: linear-gradient(to top left, #bf953f, #fcf6ba, #b38728,#fbf5b7);
    text-shadow: 3px 2px 2px #fbf5b7;
}

.rule-heading:after {
    color: #000;
    content: '\02660'; 
    font-size: 1.125rem;
    margin-right: 5px;
}
  
.active:after {
    content: '\2665'; 
    color: 	#ff0000;
}

/* Style the accordion panel. Note: hidden by default */
.rule-segment {
    max-height: 0;
    overflow: hidden;
    padding: 0 5px;
    text-align: justify;
    transition: max-height 0.4s ease-out;
}

.rule-segment > p {
    font-size: 0.875rem;
    padding-bottom: 5px;
}

/** options sub menu **/
#green, #blue, #purple {
    border-radius: 1.25rem;
    display: block;
    height: 6.25rem;
    margin: 1.375rem auto;
    width: 6.25rem;
}

.alt-theme-border {
    border: 4px solid #fff;
}

.active-theme, .alt-theme-border:hover {
    border: 4px dotted #FFD700;
}

#green {
    background: #006400;
}

#blue {
    background: #00008B;
}

#purple {
    background: #300640;
}

/* Button styling */
/* Menu buttons */
.back-to-menu {
    bottom: 0.5625rem;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

#to-table-btn {
    display: none;
}

.menu-opt-btn {
    border: 2px solid #000;
    border-radius: 0.9375rem;
    box-shadow: 2px 2px 0.75rem 0px #bf953f;
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
    height: 4.375rem;
    margin: 2.5rem auto;
    padding: 0.625rem;
    width: 80%;
}

/* Highlights one letter on the button to indicate key controls */
.key-control-indicator {
    color: #8B0000;
    font-weight: bold;
    text-decoration-color: #000;
}

/* Game board control buttons */
#hit-btn {
    margin-right: 3.5px;
}

#stand-btn {
    margin-left: 3.5px;
}

/* universal button styles */
.btn {
    border: 1px solid #b38728;
    border-radius: 0.625rem;
    box-shadow: 1px 1px 0px 1px #bf953f;
    font-size: 1.0625rem;
    padding: 5px 0.625rem;   
}

.btn:hover {
    box-shadow: inset 1px 1px 0px 1px #bf953f;
}

.btn-bg {
    background: linear-gradient(to top left, #fbf5b7, #b38728, #fcf6ba, #bf953f);
    font-family: 'Acme', sans-serif;
}

.btn-bg:hover {
    background: linear-gradient(to top left, #bf953f, #fcf6ba, #b38728,#fbf5b7);
    cursor: pointer;
}

/* Style for within the game-table */
#game-table {
    display: none;
}

.card-container {
    position: relative;
    height: 8.125rem;
    width: 100%;
}

#dealer-side, #player-side {
    width: 10.625rem;
}

.card {
    border-radius: 0.4375rem;
    height: 7.5rem;
    width: 5.25rem;
}

/* Scoreboard style */
#score-board {
    height: 16%;
}

.score-tally {
    display: inline;
    list-style-type: none;
    height: 25%;
}

/* Player control area */
#controls {
    height: 10%;
}

/* on table link to game rules */
#rules-anchor {
    text-decoration: underline;
}

#rules-anchor:hover {
    cursor: pointer;
    color: #312b50;
}

.rg-content {
    font-size: 0.875rem;
    padding: 0.9375rem 10%;
    text-align: justify;
}

/* Styling for the results pop up */
#modal-surround {
    background: linear-gradient(to top left, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
    border-radius: 1.5625rem;
    height: 9.375rem;
    padding: 0.3125rem;
    position: absolute;
    top: 20.625rem;
    width: 70%;
    max-width: 37.5rem;
    z-index: 5;
}

#result-modal { 
    background-color: #008080;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 9.375rem;
    justify-content: space-evenly;
    width: 100%;
    z-index: 10;
}

#result {
    border-bottom: 2px solid #d3d3d3;
    font-family: 'Acme', sans-serif;
    padding-bottom: 0.8125rem;
}

/*footer styling*/
/*style for the social media links*/
footer {
    padding-top: 0.9375rem;
    width: 100%;
 }

.social-media-li {
    display: inline;
    list-style-type: none;
}

.social-icon {
    color: #000;
    font-size: 2.1875rem;
    margin: 1%;
    padding: 0.3125rem;
}

#copyright {
    font-family: 'Acme', sans-serif;
    font-size: 0.875rem;
}

/* Media queries */
@media (min-width: 360px) {
    #main-surround {
        height: 39.0625rem;
    }

    .rule-heading {
        font-size: 1.25rem;
    }

    .rule-heading:after {
        font-size: 1.25rem;
    }

    .rule-segment > p {
        font-size: 0.9375rem;
        margin: 0 auto;
        padding-bottom: 0.4375rem;
        width: 95%;
    }

    .rg-content {
        font-size: 0.9375rem;
        padding: 0.9375rem 10%;
    }
    
    #hit-btn {
        margin-right: 1.1719rem;
    }

    #stand-btn {
        margin-left: 1.1719rem;
    }
}

@media (min-width: 420px) {
    
    header {
        height: 9.375rem;
    }
    
    #title {
        font-size: 2rem;
    }

    #menu-btn-wrap {
        padding: 0.625rem;
    }

    .menu-opt-btn {
        font-size: 1.5625rem;
    }

    .menu-heading {
        font-size: 2.8125rem;
    }

    .rule-heading {
       font-size: 1.375rem; 
    }   

    .rule-heading:after {
        font-size: 1.375rem;
    }

    .rule-segment {
        font-size: 0.9375rem;
    }

    .rg-content {
        font-size: 0.9375rem;
        padding: 0.9375rem 10%;
    }

    .social-icon {
        font-size: 2.8125rem;
    }
}

@media (min-width: 600px) {
    #modal-surround {
        height: 10rem;
    }

    .rule-heading {
        margin: 0 auto;
        width: 95%;
    }

    .rule-heading:after {
        font-size: 1.75rem;
    }

    .rg-content {
        font-size: 0.9375rem;
        padding: 1.875rem 15%;
    }

    #result-modal {
        height: 10rem;
    }
    
    #result {
        font-size: 1.5rem;
    }

    #description {
        font-size: 1rem;
    }
    .social-icon {
        font-size: 3.8125rem;
    }
}

@media (min-width: 700px) {
    
    .back-to-menu {
        bottom: 0.9375rem;
    }

    .rule-heading:after {
        font-size: 2.0625rem;
    }
    
    #modal-surround {
        height: 10.3125rem;
    }

    #result-modal {
        height: 10.3125rem;
    }
    
    #result {
        font-size: 1.75rem;
    }

    #description {
        font-size: 1.0625rem;
    }
}