/* 
- style buttons:hover
- space elements
- add fonts
- think about different icons on accordion menu
-Use card suits on game rules
*/

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akronim&family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}
/**temporary to combat chrome dark theme**/
body {
    background-color: 	#00FFBF;
    height: 100vh;
    width: 100vw;
}

header {
    height: 7.625rem;
}

/**Generalized classes**/
.text-align-centre {
    text-align: center;
}

.center-margin {
    margin: 0 auto;
}

.txt-white {
    color: #fff;
}

.line-break-below {
    padding-bottom: 14px;
}

/** Header style rules **/
#title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: 'Akronim', cursive;
    font-size: 23px;
    justify-content: center;
    padding-top: 0.625rem;
}

.logo {
    height: 4.5rem;
    width: 4.5rem;
}

#menu-wrap {
    display: none;
    padding: 5px;
}

#main-surround {
    background: linear-gradient(to top left, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    height: 74vh;
    max-width: 1005px;
    min-height: 530px;
    padding: 15px;
    width: 80vw;
}    

/** Class to set the height of each module the same when it opens **/
.main-window {
    background-color: #008000;
    border: 2px solid #000;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 74vh;
    max-width: 1000px;
    min-height: 530px;
    padding: 0.625rem;
    width: 95vw;
}

/** Menu styling **/
#main-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#sub-menu-container{
    display: none;
    position: relative;
}

/** Button styling **/
.back-to-menu {
    bottom: 10px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.menu-opt-btn {
    border-radius: 15px;
    display: block;
    height: 4.375rem;
    width: 80%;
    border: 2px solid #000;
    box-shadow: 2px 2px 12px 0px #bf953f;
}

#hit-btn {
    margin-right: 10px;
}

#stand-btn {
    margin-left: 10px;
}

#rules {
    text-decoration: underline;
}

#rules:hover {
    cursor: pointer;
    color: #312b50;
}

.btn {
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px 0px 1px #bf953f;
    border: 1px solid #b38728;
}

.btn-bg {
    background: linear-gradient(to top left, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
    font-family: 'Acme', sans-serif;

}

.btn-bg:hover {
    background: linear-gradient(to top left, #fbf5b7, #b38728, #fcf6ba, #bf953f);
    cursor: pointer;
}

.btn-underline {
    text-decoration: underline;
}

/** Style for within the game-table **/

#game-table {
    display: none;
}

.card-container {
    position: relative;
    height: 130px;
}

#dealer-side, #player-side {
    height: 33%;
}

.card {
    border-radius: 7px;
    height: 120px;
    width: 84px;
    padding: 10px;
    /* transform: translateX(10%); */
}

/** Scoreboard list items **/
.score-tally {
    display: inline;
    list-style-type: none;
}

/** Styling for the background of the results pop up **/
#modal-surround {
    background: rgba(0, 0, 0, 0.2);
    display: none;
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: 10000;
}

/** Styling for the results pop up **/
#result-modal {
    background-color: #312b50;
    border: 0.25rem solid #bf953f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    left: 50%;
    height: 150px;
    justify-content: space-evenly;
    max-width: 740px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 10;
}

#result {
    border-bottom: 2px solid lightgray;
    padding-bottom: 13px;
}

/** Accordion style menu on game rules page taken from https://www.w3schools.com/howto/howto_js_accordion.asp **/
.rule-heading {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    outline: none;
    width: 100%;
    text-align: left;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .rule-heading:hover {
    background-color: #ccc;
  }

  .rule-heading:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .rule-segment {
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    text-align: left;
    transition: max-height 0.4s ease-out;
  }

/**footer styling**/
/*style for the social media links*/


.social-media-li {
    display: inline;
    list-style-type: none;
}

.social-icon {
    color: #000;
    font-size: 35px;
    margin: 1%;
    padding: 0.3125rem;
}

#copyright {
    font-size: 6px;
}
